body {
    background-color: c8c6a7;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: Codystar;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

.title {
    color: #35444d;
    margin-left: 100px;
    margin-bottom: -50px;
    font-size: 60pt;
    font-weight: bolder;
    font-family: 'Press Start 2P';
}

table {
    font-size: 20pt;
    margin-left: auto;
    margin-right: auto;
}

.dashboard {
    width: 720px;
    height: 70px;
    padding-bottom: 15px;
    display: inline-block;
    margin-left: 180px;
    margin-top: 100px;
    background-color: 92967d;
}

.left-dash {
    margin-left: 5px;
}

.reset-btn {
    background-color: rgba(240, 248, 255, 0);
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin-left: 330px;
    margin-top: -50px;
}

.safe-btn {
    color: white;
    height: 40px;
    width: 60px;
    border-radius: 50%;
    background-color: #435560;
    margin-left: 15px;
    font-family: Codystar;
}

.get-hint {
    margin-top: -60px;
    margin-left: 40px;
}

.bulbs-off {
    height: 180px;
    width: 80px;
    display: inline;
    cursor: pointer;
    margin-left: 120px;
    margin-bottom: 1000px;
}

.safe {
    margin-left: 450px;
    margin-top: -50px;
}

.levels {
    margin-top: -60px;
    margin-left: 600px;
}

table {
    margin-top: 20px;
}

td {
    border: rgb(192, 192, 192) solid 1px;
    width: 60px;
    height: 60px;
    text-align: center;
    color: whitesmoke;
    font-size: 30pt;
    font-weight: bolder;
    background-color: 435560;
}

td:hover {
    cursor: pointer;
}

td:visited {
    background-color: brown;
}

img {
    width: 40px;
    height: 40px;
    background-color: #ff000002;
}

.mark {
    background-color: rgb(70, 124, 138);
    box-shadow: inset 0 0 2px #000000b6;
}