body {
    background-color: rgb(23, 26, 29);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

table {
    font-size: 20pt;
    margin-left: auto;
    margin-right: auto;
}

.dashboard {
    width: 600px;
    height: 50px;
    padding-bottom: 15px;
    display: inline-block;
    background-color: rgb(182, 214, 224);
    margin-left: 660px;
}

.left-dash {
    float: left;
}

.reset-btn {
    background-color: rgba(240, 248, 255, 0);
    height: 50px;
    width: 50px;
    font-size: 30px;
    float: middle;
    margin-left: 140px;
}

.levels {
    float: right;
}

td {
    border: rgb(54, 214, 201) solid 1px;
    width: 60px;
    height: 60px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(171, 224, 226);
}

td:hover {
    cursor: pointer;
}

td:visited {
    background-color: brown;
}

img {
    width: 40px;
    height: 40px;
    background-color: #ff000002;
}

.mark {
    background-color: rgba(138, 220, 205, 0.783);
    box-shadow: inset 0 0 2px #000000b6;
}